.changePassword_btn {
    width: 100%;
}

.errMessage {
    color: rgb(255, 66, 78) !important;
        font-size: 11px;
        margin-top: 4px
}

.changePassword_Card {
    display: flex;
        justify-content: center;
    padding: 30px 20px;
}

.changePassword_iconEye {
        position: absolute;
    right: 10px;
        top: 50%;
        transform: translateY(-50%);
}

.changePassword_FormControl {
    position: relative;
}