.product-info-body .product-info-star-book-name .bExXAB button {
    background-color: #ff0000; /* Màu đỏ (hoặc màu bạn muốn) */
    color: #ffffff; /* Màu chữ trắng (hoặc màu bạn muốn) */
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }