.product_body {
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 2.8rem;
    margin-left: 3.5rem;
}

.product_header_image {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 5px;
}

.jFWyKZ .product-price__current-price {
    font-size: 24.95px;
    font-weight: 600;
    line-height: 145%;
}

.product_info_header_main h6 {
    margin: 0px;
    color: rgb(36, 36, 36);
    font-size: 13.6px;
    font-weight: 400;
    line-height: 20px;

}

.product_info_bookName {
    margin: 0px;
    color: rgb(39, 39, 42);
    font-size: 23px;
    font-weight: 500;
    line-height: 130%;
    word-break: break-word;
    white-space: break-spaces;
}

.btnAddCart {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    white-space: nowrap;
    width: 100%;
    height: 40px;
    cursor: pointer !important;
    background: rgb(255, 255, 255) !important;
    font-size: 16px;
    line-height: 150%;
    color: rgb(10, 104, 255);
    border: 1px solid rgb(10, 104, 255);
    border-radius: 4px;
}

.group-button .btnAddCart:hover {
    color: rgb(10, 104, 255);
}

.group-button .btnAddCart:not(:disabled):not(.disabled):active {
    background: rgb(255, 255, 255) !important;
    color: rgb(10, 104, 255);
}

.group-button .btnAddCart:focus {
    box-shadow: none;
}

.hEzlHi .lable {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin: 0px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 14px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
    border-radius: 12px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 2;
    background-color: rgb(255, 255, 255);
}

.image_active.active {
    border: 2px solid rgb(10, 104, 255);
    ;
}

.image_active {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 54px;
    height: 54px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid rgb(235, 235, 240);
    overflow: hidden;
}

.hEzlHi .group-input button:hover {
    background-color: rgb(236, 236, 236);
    color: rgb(108, 117, 125) !important;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show>.btn-outline-secondary.dropdown-toggle {
    color: rgb(108, 117, 125) !important;
    background-color: rgb(236, 236, 236) !important;
    border-color: rgb(166, 166, 176) !important;
}

.product_image_list {
    object-fit: contain;
    display: block;
}

.center-toast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-price .productDeail-favourite-color {
    font-size: 2px;
}

.product-price .productDeail-favourite-color .btn-productdetail-favourite {
    color: rgb(156, 163, 175);
}

.product-price .productDeail-favourite-color .btn-productdetail-favourite .svg-inline--fa{
    font-size: 20px;
}

.product-price .productDeail-favourite-color .btn-productdetail-favourite:not(:disabled):not(.disabled):active {
    color: rgb(156, 163, 175);
    background-color: rgb(255, 255, 255);
    box-shadow: none;
}

.product-price .productDeail-favourite-color .btn-productdetail-favourite:focus-visible {
    box-shadow: none;
}

.product-price .productDeail-favourite-color .btn-productdetail-favourite:focus {
    box-shadow: none;
}

.product-price .productDeail-favourite-color .productDeail-favourite {
    font-size: 20px;
}

.productDeail-favourite-color .btn-productdetail-favourite {
    background-color: rgb(255, 255, 255);
    border: none;
}

.jzQKwa .dXPbue .MuiSvgIcon-root {
    font-size: 17px;
        color: #FFC400;
}

.fvFoxk .review-rating__inner .review-rating__stars .MuiSvgIcon-root {
    font-size: 25px;
    color: #FFC400;
}

.fvFoxk .review-rating__inner .review-rating__detail .MuiSvgIcon-root {
    font-size: 20px;
    color: #FFC400;
}

.review-comment__rating-title .jUynBq .MuiSvgIcon-root {
    font-size: 20px;
    color: #FFC400;
}

.reply-comment__wrapper .form-control:focus {
    box-shadow: none;
}

.reply-comment__wrapper .btn {
    border: 1px solid rgb(238, 238, 238) !important;
}

.eaKcuo {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: rgb(39, 39, 42);
}

.jMQTPW {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 0px;
    border-bottom: 1px solid rgb(235, 235, 240);
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    color: rgb(39, 39, 42);
    gap: 8px;
}

.eDbeCp {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: rgb(39, 39, 42);
    -webkit-box-align: center;
    align-items: center;
}

.dGqjau {
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 8px;
    color: rgb(36, 36, 36);
    text-align: justify;
    border-radius: 4px;
}

/* .xbBes .gradient {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
} */

.imwRtb {
    position: relative;
}

/* .imwRtb p{
    margin-top: "5px";
    line-height: "21px";
    word-break:  break-word;
    max-height: 100px;
} */

.xbBes .btn-more {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 39px;
    margin: 10px auto 0px;
    color: rgb(24, 158, 255);
    font-size: 13px;
    font-weight: 400;
    line-height: 39px;
    text-align: center;
}


@media (min-width: 576px) {
    .product_image_main {
        flex: 0 0 auto;
        width: 28.5%;
    }
}

@media (min-width: 576px) {
    .product_info {
        flex: 0 0 auto;
        width: 43%;
        margin-left: 15px;
    }
}

@media (min-width: 576px) {
    .product_price {
        flex: 0 0 auto;
        width: 27%;
        margin-left: 5px;
    }
}